@use "../../style/core/_color" as *;
.mini-navbar {
  .mini-navbar__links {
    .mini-navbar__link {
      font-size: 1rem;
      font-weight: 500;
      text-transform: uppercase;
      &.is-active {
        color: $color-primary;
      }
    }
  }
  .mini-navbar__actions {
    .mini-navbar__actions--item {
      font-size: 1rem;
      font-weight: 500;
    }
  }
  .toggle-menu {
    font-size: 1.5rem;
  }
}

.mobile-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: black;
  opacity: 0.5;
  z-index: 998;
}

.mobile-menu {
  background-color: $color-white;
  color: $color-text;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 999;
  padding-bottom: 20px;
  overflow-y: scroll;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  .mobile-menu__search {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    .mobile-menu__search-icon {
      position: absolute;
      top: 48%;
      left: 2rem;
      transform: translateY(-50%);
      font-size: 2rem;
      color: $color-black;
    }
    input.mobile-menu__input {
      border: 1px solid $color-black;
      border-radius: 10px;
      width: 100%;
      padding: 15px 12px;
      font-size: 1.5rem;
      color: $color-black;
      padding-left: 4rem;
      &::placeholder {
        color: $color-text;
      }
    }
  }
  .mobile-menu__links {
    display: flex;
    flex-direction: column;
    overflow: unset;
    height: 100%;
    flex: 1 1 auto;
  }
  .mobile-menu__dropdown {
    border-bottom: 1px solid #ccc;
    margin: 0 2rem;

    .mobile-menu__dropdown-list {
      display: flex;
      flex-wrap: wrap;
      gap: 9px;
      padding-left: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .mobile-menu__title {
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      color: $color-text;
      font-weight: 700;
      padding: 1rem;
    }
    .mobile-menu__dropdown-item {
      border: 1px solid $color-primary;
      font-size: 1.2rem;
      font-weight: 400;
      color: $color-text;
      border-radius: 6px;
      padding: 10px;
    }
  }
  .mobile-menu__logo {
    margin-bottom: 50px;
    margin: 2rem 2rem;
  }
  .menu-bottom {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    flex: auto;
    .mobile-menu__link {
      a,
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        cursor: pointer;
        .__icon {
          font-size: 2rem;
        }
      }
    }
    .mobile-menu__sign-in {
      background-color: $color-black;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      color: $color-white;
      border-radius: 10px;
      margin: 0 2rem;
      font-weight: 700;

      a {
        display: block;
        padding: 1rem;
      }
    }
  }
  .mobile-menu__link {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $color-text;
    border-bottom: 1px solid #dfdfdf;
    margin: 0 2rem;
    font-weight: 700;
    div {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
    }
    a {
      display: block;
      padding: 1rem;
    }
  }
  .mobile-menu__close {
    position: absolute;
    top: 0;
    right: 0%;
    color: $color-white;
    padding: 0.7rem;
    font-size: 1.5rem;
    width: 65px;
    height: 65px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-info;
  }
}
