.products-row {
  .row-top {
    .row-title {
      font-size: 1.5rem;
      font-weight: 700;
    }
    .row-link {
      font-size: 1.2rem;
      font-weight: 700;
      text-decoration: underline;
    }
  }
  @media screen and (min-width: 1024px) {
    .product-card_custom-col {
      width: 20%;
    }
  }
}
